extends ../layout

block content
  h2= book.title

  img(src=book.thumbnail, alt='thumbnail')

  h4 Authors
  ul
    for author in book.authors
      li= author.name

  h4 Genres
  ul
    for genre in book.genres
      li= genre.name

  h4 Published
  ul
    li= book.published
